<!DOCTYPE html>
<html>
	<head>{% block head %}
		<title>{% block head_title %}{% endblock %}</title>
		{% block scripts %}{% endblock %}
		{% block styles %}<style type='text/css'>
			.widget { width: {% block widget_width_px %}400{% endblock %}px; height: {% block widget_height_px %}400{% endblock %}px; }
		</style>{% endblock %}
	{% endblock %}</head>
	<body>{% block body %}
		<div {% block widget_attrs %}{% endblock %}class='widget {% block widget_classes %}{% endblock %}'>{% block widget_body %}
		{% endblock %}{% block after_widget_body %}{% endblock %}</div>
	{% endblock %}</body>
</html>