{% extends "widget/threejs.html" %}
{% load static %}
{% block scripts %}
	{{ block.super }}
	<script type='text/javascript' src='{% static "scripts/three.js/TrackballControls.js" %}'></script>
{% endblock %}
{% block after_widget_body %}
	<script type="text/javascript">
		$(function( ) {
			/* Adapted from http://blog.thematicmapping.org/2013/09/creating-webgl-earth-with-threejs.html by Bjørn Sandvik */
			var w = $('.widget').width( ), h = $('.widget').height( );
			var scene = new THREE.Scene();
			var globeRadius = 0.5;
			var fov, aspect = w / h, dist = 1.5,
				width = globeRadius * 2, height = globeRadius * 2;
			var lightColour = 0xffffff, lightIntensity = 0.5,
				lightPos = [
					[5, 0, 0] //,[-10, -5, -10],
					//[0, 3, 0], [0, -3, 0]
				]
			if(w < h) {
				fov = 2 * Math.atan( ( width / aspect ) / ( 2 * dist ) ) * ( 180 / Math.PI ); // in degrees
			} else {
				fov = 2 * Math.atan( height / ( 2 * dist ) ) * ( 180 / Math.PI );
			}

			var camera = new THREE.PerspectiveCamera(fov, w / h, 0.01,
													 1000);
			camera.position.z = dist * 1.4;

			var renderer = new THREE.WebGLRenderer();
			renderer.setSize(w, h);

			scene.add(new THREE.AmbientLight(0x999999));

			var lights = [];
			var light, lPos;
			for (var pos in lightPos) {
				lPos = lightPos[pos];
				light = new THREE.DirectionalLight(lightColour, lightIntensity);
				light.position.set.apply(light.position, lPos);
				scene.add(light);
			}
			/*light.position.set(0, 0, 3);
			scene.add(light);
			light = new THREE.DirectionalLight(0xffffff, 0.5);
			light.position.set(0, 0, -3);
			scene.add(light);
			light = new THREE.DirectionalLight(0xffffff, 0.5);
			light.position.set(0, 3, 0);
			scene.add(light);
			light = new THREE.DirectionalLight(0xffffff, 0.5);
			light.position.set(0, -3, 0);
			scene.add(light);*/

			var globe = new THREE.Mesh(
			  new THREE.SphereGeometry(globeRadius, 32, 32),
			  new THREE.MeshPhongMaterial({
			    map: THREE.ImageUtils.loadTexture('{% static "tex/globe-texture-map.jpg" %}'),


				bumpMap: THREE.ImageUtils.loadTexture('{% static "tex/globe-bump-map.jpg" %}'),
				bumpScale:   0.005,
				specularMap: THREE.ImageUtils.loadTexture('{% static "tex/globe-specular-map.png" %}'),
				specular: new THREE.Color('grey')
			}));
			scene.add(globe);
			var co2Globe = new THREE.Mesh(
			  new THREE.SphereGeometry(globeRadius*1.01, 32, 32),
			  new THREE.MeshPhongMaterial({
			    map: THREE.ImageUtils.loadTexture('{% static "tex/test-globe-map.png" %}'),
			    alphaMap: THREE.ImageUtils.loadTexture('{% static "tex/test-globe-alpha-map.png" %}'),
			    transparent: true
			}));
			scene.add(co2Globe);

			var starTex = THREE.ImageUtils.loadTexture( '{% static "tex/galaxy-starfield.jpg" %}' );
			starTex.wrapS = starTex.wrapT = THREE.RepeatWrapping;
			starTex.repeat.set( 12, 12 );
			var skyDome = new THREE.Mesh(
			  new THREE.SphereGeometry(90, 64, 64), 
			  new THREE.MeshBasicMaterial({
			    map: starTex, 
			    side: THREE.BackSide
			  })
			);
			scene.add(skyDome);
			$(renderer.domElement).appendTo($('.widget'));

			var controls = new THREE.TrackballControls(camera);

			function render() {
				controls.update();
				globe.rotation.y += 0.0015;
				co2Globe.rotation.y += 0.0015;
				//clouds.rotation.y += 0.0005;		
				requestAnimationFrame(render);
				renderer.render(scene, camera);
			}
			render( );
		});
	</script>
{% endblock %}